<!doctype html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Module</title>
    <!--Generic meta-->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale = 1.0, shrink-to-fit=no">
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="">
    <!--extra meta-->
    <meta name="google" content="notranslate" />
    <!--fb meta-->
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="" />
    <meta property="og:locale" content="pt_PT" />
    <meta property="og:type" content="website" />
    <!--twitter meta-->
    <meta name="twitter:card" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <!--Add to home screen icon-->
    <link href="images/system/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="images/system/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" />
    <link href="images/system/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
    <link href="images/system/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
    <link href="images/system/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" />
    <!--favicon-->
    <link rel="shortcut icon" href="../images/system/favicon.ico" />
    <link rel="icon" type="image/ico" href="../images/system/favicon.ico" />
    <!--Links-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Fonts-->
     <!-- ************  JAVASCRIPT LIBS  ******************** -->
        <script src="../scripts/libs/jquery-3.1.1.min.js"></script>
        <script src="../scripts/libs/slick.min.js"></script>
        <script src="../scripts/libs/bootstrap.min.js"></script>
        <script src="../scripts/libs/share-button.min.js"></script>
        <!-- ************  JAVASCRIPT MAIN  ******************** -->
        <script src="../scripts/core/main.js"></script>
        <!-- ************  JAVASCRIPT MODULES  ******************** -->
        <script src="../scripts/core/controls/head_home.js"></script>
</head>
<!--GA-->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXXXXX-X', 'auto');
    ga('send', 'pageview');
</script>

<body>
    <section class="justica-menu" data-control="menu">
    <a href="#footer" class="go_to_footer"></a>
    <nav class="navbar navbar-default container">
        <div class="row top">
            <div class="logo">
                <a href="#\">
                    <img class="img-responsive" alt="Brand" src=".../../../images/JusticaLogo.png" alt="Logotipo portal da Justiça">
                </a>
            </div>
            <a class="search icon" href="#\">
                <i class="fa fa-search"></i>
            </a>
            <div class="wrap-sd">
                <div class="search-bar">
                    <span id="dnn_ctl00_ClassicSearch">

                        <span class="searchInputContainer" data-moreresults="See More Results" data-noresult="No Results Found">

                            <input name="dnn$ctl00$txtSearch" type="text" maxlength="255" size="20" id="dnn_ctl00_txtSearch" class="NormalTextBox" autocomplete="off" placeholder="Pesquisa...">


                        </span>

                    </span>

                    <a class="search" href="#">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
                <a href="#" class="ajuda">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                </a>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Português
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Inglês</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Françês</a></li>
                    </ul>
                </div>
            </div>
            <button type="button" class="navbar-toggle button_menu_mobile collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                <span class="sr-only">Abrir Menu</span>
                <span class="icon-bar "></span>
                <span class="icon-bar two"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        
        <ul class="desktop_nav nav navbar-nav">

            <li class="menu_item  dropdown active">

                <span class="link no-link">
                    Registos
                    <pre class="caret"></pre>
                </span>


                <ol class="dropdown-menu" data-height="303" style="height: 0px; opacity: inherit;">

                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block  active">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Civil
                            </a>

                            <ol class="olsubmenu">

                                <li class="sub_submenu_item ">
                                    <a href="#\" class="link ">
                                        Nascimento
                                    </a>
                                </li>

                                <li class="sub_submenu_item ">
                                    <a href="#\" class="link ">
                                        Casamento
                                    </a>
                                </li>

                                <li class="sub_submenu_item ">
                                    <a href="#\" class="link ">
                                        Óbito
                                    </a>
                                </li>

                                <li class="sub_submenu_item ">
                                    <a href="#\" class="link ">
                                        Divórcio
                                    </a>
                                </li>

                                <li class="sub_submenu_item  active">
                                    <a href="#\" class="link ">
                                        Mudança de sexo
                                    </a>
                                </li>

                            </ol>

                        </li><li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Nacionalidade
                            </a>

                            <p class="no_child_description"></p>

                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Identificação
                            </a>

                            <ol class="olsubmenu">

                                <li class="sub_submenu_item ">
                                    <a href="#\" class="link ">
                                        Cartão de cidadão
                                    </a>
                                </li>

                                <li class="sub_submenu_item ">
                                    <a href="#\" class="link ">
                                        Bilhete de identidade
                                    </a>
                                </li>

                                <li class="sub_submenu_item ">
                                    <a href="#\" class="link ">
                                        Passaporte eletrónico
                                    </a>
                                </li>

                            </ol>

                        </li><li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Criminal
                            </a>

                            <ol class="olsubmenu">

                                <li class="sub_submenu_item ">
                                    <a href="#\" class="link ">
                                        Registo Criminal
                                    </a>
                                </li>

                            </ol>

                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Veículos
                            </a>

                            <ol class="olsubmenu">

                                <li class="sub_submenu_item ">
                                    <a href="#\" class="link ">
                                        Certidão
                                    </a>
                                </li>

                            </ol>

                        </li><li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Comercial
                            </a>

                            <p class="no_child_description"></p>

                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Predial
                            </a>

                            <ol class="olsubmenu">

                                <li class="sub_submenu_item ">
                                    <a href="#\" class="link ">
                                        Certidão
                                    </a>
                                </li>

                                <li class="sub_submenu_item ">
                                    <a href="#\" class="link ">
                                        Registo e depósito de documentos
                                    </a>
                                </li>

                                <li class="sub_submenu_item ">
                                    <a href="#\" class="link ">
                                        ELRA
                                    </a>
                                </li>

                                <li class="sub_submenu_item ">
                                    <a href="#\" class="link ">
                                        BUPi
                                    </a>
                                </li>

                            </ol>

                        </li><li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Propriedade Industrial
                            </a>

                            <ol class="olsubmenu">

                                <li class="sub_submenu_item ">
                                    <a href="#\" class="link ">
                                        Marca
                                    </a>
                                </li>

                                <li class="sub_submenu_item ">
                                    <a href="#\" class="link ">
                                        Patente
                                    </a>
                                </li>

                                <li class="sub_submenu_item ">
                                    <a href="#\" class="link ">
                                        Design
                                    </a>
                                </li>

                            </ol>

                        </li>
                    </div>
                </ol>


            </li>

            <li class="menu_item  dropdown">

                <span class="link no-link">
                    Tribunais e Meios Complementares
                    <pre class="caret"></pre>
                </span>


                <ol class="dropdown-menu" data-height="96" style="height: 0px; opacity: inherit;">

                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Judicial
                            </a>

                            <p class="no_child_description"></p>

                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Administrativo e Fiscal
                            </a>

                            <p class="no_child_description"></p>

                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Resolução alternativa de litígios
                            </a>

                            <p class="no_child_description"></p>

                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Investigação Criminal
                            </a>

                            <p class="no_child_description"></p>

                        </li>
                    </div>
                </ol>


            </li>

            <li class="menu_item ">

                <a href="#\" class="link">
                    Investigação Criminal
                </a>



            </li>

            <li class="menu_item  dropdown">

                <span class="link no-link">
                    Informação da Justiça
                    <pre class="caret"></pre>
                </span>


                <ol class="dropdown-menu" data-height="74" style="height: 0px; opacity: inherit;">

                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Legislação
                            </a>

                            <p class="no_child_description"></p>

                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Estudos e investigação
                            </a>

                            <p class="no_child_description"></p>

                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Proteção jurídica
                            </a>

                            <p class="no_child_description"></p>

                        </li>
                    </div>
                    <div class="col-md-3">
                    </div>
                </ol>


            </li>

            <li class="menu_item  dropdown">

                <span class="link no-link">
                    Sistema Prisional
                    <pre class="caret"></pre>
                </span>


                <ol class="dropdown-menu" data-height="74" style="height: 0px; opacity: inherit;">

                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Prisões
                            </a>

                            <p class="no_child_description"></p>

                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                Reinserção social
                            </a>

                            <p class="no_child_description"></p>

                        </li>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                </ol>


            </li>

            <li class="menu_item  dropdown">

                <span class="link no-link">
                    Organismos
                    <pre class="caret"></pre>
                </span>


                <ol class="dropdown-menu" data-height="322" style="height: 0px; opacity: inherit;">

                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                SGMJ
                            </a>

                            <p class="no_child_description">Secretaria-Geral do Ministério da Justiça</p>

                        </li><li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                DGRSP
                            </a>

                            <p class="no_child_description">Direção-Geral de Reinserção e Serviços Prisionais</p>

                        </li><li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                INPI
                            </a>

                            <p class="no_child_description">Instituto Nacional da Propriedade Industrial</p>

                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                IGSJ
                            </a>

                            <p class="no_child_description">Inspeção-Geral dos Serviços de Justiça</p>

                        </li><li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                IGFEJ
                            </a>

                            <p class="no_child_description">Instituto de Gestão Financeira e Equipamentos da Justiça</p>

                        </li><li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                CEJ
                            </a>

                            <p class="no_child_description">Centro de Estudos Judiciários</p>

                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                DGPJ
                            </a>

                            <p class="no_child_description">Direção-Geral da Política de Justiça</p>

                        </li><li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                IRN
                            </a>

                            <p class="no_child_description">Instituto dos Registos e do Notariado</p>

                        </li><li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                CPVC
                            </a>

                            <p class="no_child_description">Comissão de Proteção às Vítimas de Crimes</p>

                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                DGAJ
                            </a>

                            <p class="no_child_description">Direção-Geral da Administração da Justiça</p>

                        </li><li class="submenu_item col-md-12 li_block ">
                            <a class="sub_menu_title link  no_child" href="#\">
                                INMLCF
                            </a>

                            <p class="no_child_description">Instituto Nacional de Medicina Legal e Ciências Forenses</p>

                        </li>
                    </div>
                </ol>


            </li>

            <script>
		$('.dropdown-menu>.temp').each(function(){
			var dropdownMenu = $(this).closest('ol');
			var dropdownMenuChildrens = $(this).closest('ol').children('.col-md-3');
			var i = 0;
			var cols = dropdownMenuChildrens.length;

			$(this).children('.submenu_item').each(function(){
				$(this).appendTo(dropdownMenuChildrens.eq(i++));
				if(i==cols)
					i=0;
			});

			$(this).remove();
		})
            </script>
        </ul>

    </nav>

</section>
<section class="justica-LP_head_form" data-control="LP_head_form">
    <div class="container-fluid background">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <em>beneficiário efetivo / registo</em>
                    <h1>Registo do Beneficiário Efetivo online</h1>
                </div>
                <div class="col-md-3 links">
                </div>
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="../css/formularioBase.css">
<!-- <link rel="stylesheet" href="../css/docs.css"> -->

<section class="global_form pull_upper_module" data-control="global_form">

    <div class="container">
        <div class="container inner">

            <!--STEPS NAVIGATOR-->
            <div class="row">
                <div class="steps col-sm-12 separator">
                    <div class="step">
                        <span class="step1 activespan" href="#">Passo 1</span>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <p class="active">Requerentes</p>

                    </div>
                    <div class="step">
                        <span class="step2" href="#">Passo 2</span>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <p>Invenção</p>

                    </div>
                    <div class="step">
                        <span class="step3" href="#">Passo 3</span>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <p>Inventor(es)</p>

                    </div>
                    <div class="step">
                        <span class="step4" href="#">Passo 4</span>
                        <i class="fa fa-chevron-right completed" aria-hidden="true"></i>
                        <p>Dados adicionais</p>

                    </div>
                    <div class="step">
                        <span class="step5" href="#">Passo 5</span>
                        <i class="fa fa-chevron-right completed" aria-hidden="true"></i>
                        <p>Sumário</p>

                    </div>
                    <div class="step">
                        <span class="step6" href="#">Passo 6</span>
                        <p>Pagamento</p>
                    </div>
                </div>
            </div>





            <span class="line"></span>
            <!--STEPS NAVIGATOR-->
            <div class="row">
                <div class="steps col-sm-12 separator">

                    <span class="step1 active" href="#">Passo 1</span>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>




                    <span class="step2" href="#">Passo 2</span>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>




                    <span class="step3" href="#">Passo 3</span>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>




                    <span class="step4" href="#">Passo 4</span>
                    <i class="fa fa-chevron-right completed" aria-hidden="true"></i>




                    <span class="step5" href="#">Passo 5</span>
                    <i class="fa fa-chevron-right completed" aria-hidden="true"></i>




                    <span class="step6" href="#">Passo 6</span>


                </div>
            </div>


            <!--CONTENT EXAMPLES-->
            <div class="row">
                <div class="col-sm-12">

                    <!--STEP-->
                    <div class="step">

                        <span class="line"></span>
                        <h1>Título H1</h1>
                        <span class="line"></span>
                        <h2>Título H2</h2>
                        <span class="line"></span>
                        <h5>
                            Título com ajuda
                            <span class="ajuda" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                <i class="fa fa-question-circle" aria-hidden="true"></i>
                            </span>
                        </h5>
                        <p>Parágrafos</p>
                        <span class="line"></span>
                        <h3> Título de cada segmento H3</h3>
                        <h6>Texto na mesma linha que o titulo do segmento</h6>


                        <!--------------------BLOCO NOME----------------------->
                        <span class="line"></span>
                        <div class="form_container horizontal">
                            <div class="row">
                                <div class="form_item col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                    <label for="Pessoa_NomesProprios">Nome(s) próprio(s)</label>
                                    <input data-val="true" data-val-maxlength="Nome(s) próprio(s) excede 170 caracteres" data-val-maxlength-max="170" data-val-required="Nome(s) próprio(s) é obrigatório" id="Pessoa_NomesProprios" name="Pessoa.NomesProprios" type="text" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form_item col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                    <label for="Pessoa_Apelidos">Apelido(s)</label>
                                    <input data-val="true" data-val-maxlength="Apelido(s) excede 170 caracteres" data-val-maxlength-max="170" data-val-required="Apelido(s) é obrigatório" id="Pessoa_Apelidos" name="Pessoa.Apelidos" type="text" value="">
                                </div>
                            </div>
                        </div>

                        <!--------------------BLOCO MORADA----------------------->
                        <span class="line"></span>
                        <div class="form_container horizontal">
                            <div class="row">
                                <div class="form_item col-md-12">
                                    <label class="tituloBloco">Morada</label>
                                </div>
                                <div class="form_item col-xs-12 col-sm-4 col-md- col-lg-4">
                                    <label for="Pessoa_Morada_Pa_s">País</label>
                                    <select id="Pessoa_Morada_ddlPais">
                                        <option value="">Portugal</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form_item mb-2 col-xs-12 col-sm-4 col-md-3 col-lg-2">
                                    <label>Código postal</label>
                                    <input class="codigoPostal_1" type="text" value="0000" style="width:40%">
                                    <span>-</span>
                                    <input class="codigoPostal_2" type="text" value="000" style="width:35%">

                                </div>
                                <div class="form_item btns_final zipcode col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                    <span class="add" id="btnValidarCodigoPostal" title="Validar Código Postal"><span>Validar Código Postal</span><i class="fa " aria-hidden="true"></i></span>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form_item col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="Pessoa_Morada_ObjMoradaPortuguesa_Localidade_Postal">Localidade Postal</label>
                                    <input id="Pessoa_Morada_ObjMoradaPortuguesa_txtLocalidadePostal" name="Pessoa.Morada.ObjMoradaPortuguesa.txtLocalidadePostal" type="text" value="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form_item col-xs-12 col-sm-4 col-md-4">
                                    <label for="Pessoa_Morada_ObjMoradaPortuguesa_Tipo_de_via">Tipo de via</label>
                                    <select id="Pessoa_Morada_ObjMoradaPortuguesa_ddlVia" name="Pessoa.Morada.ObjMoradaPortuguesa.ddlVia">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form_item col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="Pessoa_Morada_ObjMoradaPortuguesa_Morada">Morada</label>
                                    <input id="Pessoa_Morada_ObjMoradaPortuguesa_txtMorada" name="Pessoa.Morada.ObjMoradaPortuguesa.txtMorada" type="text" value="Rua do prédio">
                                </div>
                                <div class="form_item col-xs-12 col-sm-1 col-md-1">
                                    <label for="Pessoa_Morada_ObjMoradaPortuguesa_Porta">Porta</label>
                                    <input id="Pessoa_Morada_ObjMoradaPortuguesa_txtPortal" name="Pessoa.Morada.ObjMoradaPortuguesa.txtPortal" type="text" value="1">
                                </div>
                                <div class="form_item col-xs-12 col-sm-1 col-md-1">
                                    <label for="Pessoa_Morada_ObjMoradaPortuguesa_Andar">Andar</label>
                                    <input id="Pessoa_Morada_ObjMoradaPortuguesa_txtAndar" name="Pessoa.Morada.ObjMoradaPortuguesa.txtAndar" type="text" value="1">
                                </div>
                                <div class="form_item col-xs-12 col-sm-1 col-md-2">
                                    <label for="Pessoa_Morada_ObjMoradaPortuguesa_Lado">Lado</label>
                                    <input id="Pessoa_Morada_ObjMoradaPortuguesa_txtLado" name="Pessoa.Morada.ObjMoradaPortuguesa.txtLado" type="text" value="Esquerdo">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form_item col-xs-12 col-sm-4 col-md-4">
                                    <label for="Pessoa_Morada_ObjMoradaPortuguesa_Localidade">Localidade</label>
                                    <input id="Pessoa_Morada_ObjMoradaPortuguesa_txtLocalidade" name="Pessoa.Morada.ObjMoradaPortuguesa.txtLocalidade" type="text" value="Benfica">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form_item col-xs-12 col-sm-4 col-md-4">
                                    <label for="Pessoa_Morada_ObjMoradaPortuguesa_Distrito">Distrito</label>
                                    <select id="Pessoa_Morada_ObjMoradaPortuguesa_ddlDistrito" name="Pessoa.Morada.ObjMoradaPortuguesa.ddlDistrito">
                                        <option value="">Lisboa</option>
                                    </select>
                                </div>
                                <div class="form_item col-xs-12 col-sm-4 col-md-4">
                                    <label for="Pessoa_Morada_ObjMoradaPortuguesa_Concelho">Concelho</label>
                                    <select id="Pessoa_Morada_ObjMoradaPortuguesa_ddlConcelho" name="Pessoa.Morada.ObjMoradaPortuguesa.ddlConcelho">
                                        <option value="">Lisboa</option>
                                    </select>
                                </div>
                                <div class="form_item col-xs-12 col-sm-4 col-md-4">
                                    <label for="Pessoa_Morada_ObjMoradaPortuguesa_Freguesia">Freguesia</label>
                                    <select id="Pessoa_Morada_ObjMoradaPortuguesa_ddlFreguesia" name="Pessoa.Morada.ObjMoradaPortuguesa.ddlFreguesia">
                                        <option value="">Benfica</option>
                                    </select>
                                </div>

                            </div>

                        </div>



                        <!--------------------BLOCO DOCUMENTO----------------------->
                        <span class="line"></span>
                        <div class="form_container horizontal">
                            <div class="row">
                                <div class="form_item col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="Pessoa_DocumentoIdentificacao_PaisEmissao">País de emissão</label>
                                    <select data-val="true" data-val-required="País de emissão é obrigatório" id="Pessoa_DocumentoIdentificacao_PaisEmissao" name="Pessoa.DocumentoIdentificacao.PaisEmissao"></select>
                                </div>
                                <div class="form_item col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="Pessoa_DocumentoIdentificacao_TipoDocumento">Tipo de documento</label>
                                    <select data-val="true" data-val-required="Tipo de documento é obrigatório" id="Pessoa_DocumentoIdentificacao_TipoDocumento" name="Pessoa.DocumentoIdentificacao.TipoDocumento"></select>
                                </div>
                                <div class="form_item col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="Pessoa_DocumentoIdentificacao_NumeroIdentificacao">Número de identificação</label>
                                    <input data-val="true" data-val-maxlength="Número de identificação excede 50 caracteres" data-val-maxlength-max="50" data-val-required="Número de identificação é obrigatório" id="Pessoa_DocumentoIdentificacao_NumeroIdentificacao" name="Pessoa.DocumentoIdentificacao.NumeroIdentificacao" type="text" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form_item col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="Pessoa_DocumentoIdentificacao_DataDocumento">Data de validade</label>
                                    <input data-val="true" data-val-date="The field Data de validade must be a date." id="Pessoa_DocumentoIdentificacao_DataDocumento" name="Pessoa.DocumentoIdentificacao.DataDocumento" type="date" value="">
                                </div>
                                <div class="form_item checkcenter col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <input id="Pessoa_DocumentoIdentificacao_Vitalicio" name="Pessoa_DocumentoIdentificacao_Vitalicio" type="checkbox">
                                    <div class="text_check">
                                        <label for="Pessoa.DocumentoIdentificacao.Vitalicio" class="checkbox linhaUnica">Documento vitalício</label>
                                    </div>

                                </div>
                            </div>
                        </div>



                        <!--------------------BLOCO CHECK----------------------->
                        <span class="line"></span>
                        <div class="form_container horizontal">
                            <div class="row">
                                <div class="form_item margemTopoReduzida col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input class="alinharVerticalmente" id="RepresentaEntidadeSujeita" name="RepresentaEntidadeSujeita" type="checkbox">
                                    <div class="text_check">
                                        <label for="RepresentaEntidadeSujeita" class="checkbox">Usar os dados para toda a correspondência</label>

                                    </div>

                                </div>
                            </div>
                        </div>








                        <span class="line"></span>
                        <div class="form_container horizontal row">
                            <div class="form_item col-md-4">
                                <label>Número fiscal</label>
                                <input type="number" name="número fiscal" placeholder="ex:502 236 420">
                            </div>
                            <div class="form_item col-md-4">
                                <label>Nome</label>
                                <input type="text" name="ex: João António" placeholder="ex:502 236 420">
                            </div>
                            <div class="form_item col-md-4">
                                <label>Select com opções</label>
                                <select type="text" name="" placeholder="...">
                                    <option>...</option>
                                    <option>option1</option>
                                    <option>option2</option>
                                    <option>option3</option>
                                    <option>option4</option>
                                </select>
                            </div>
                            <div class="form_item col-md-4">
                                <label>Firma ou Denominação</label>
                                <input type="text" name="Firma ou Denominação" value="alhos e bugalhos .lda" disabled>
                            </div>
                            <div class="form_item col-md-4">
                                <label>
                                    Tooltip
                                    <span class="ajuda" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    </span>

                                </label>
                                <input type="text" name="Código Lei" value="Tooltip" disabled>
                            </div>
                            <div class="form_item col-md-4">
                                <label>
                                    Campo com erro
                                    <span class="ajuda" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    </span>
                                </label>
                                <input class="erro" type="email" name="Endereço eletrónico institucional" placeholder="ex: exemplo@exemplo.pt">
                                <label class="erro">campo não devidamente preenchido</label>
                            </div>
                            <div class="form_item col-md-4">
                                <label>Campo com data em HTML5</label>
                                <input type="date" name="bicc" id="bicc">
                            </div>
                            <div class="form_item col-md-4">
                                <input type="checkbox" id="checkbox" name="Firma ou Denominação">
                                <label for="checkbox" class="text_checkbox">Checkbox</label>
                            </div>

                            <div class="form_item col-md-4">
                                <div class="col-md-6">
                                    <input type="radio" name="check_declarantes" id="check_declarantes1" value="sim">
                                    <label class="radio_text" for="check_declarantes1">Radio</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="radio" name="check_declarantes" id="check_declarantes2" value="nao" checked>
                                    <label class="radio_text" for="check_declarantes2">Buttons</label>
                                </div>
                            </div>
                        </div>
                        <span class="line"></span>
                        <div class="form_container horizontal row blank">
                            <div class="form_item horizontal termos col-md-12">

                                <div class="text_check">
                                    <label>Campo com fundo branco (class .blank)</label>
                                </div>
                            </div>
                        </div>
                        <span class="line"></span>
                        <div class="form_container horizontal row">
                            <div class="form_item horizontal termos col-md-12">
                                <div class="text_check">
                                    <label class="checkbox">Campo genérico de final de formulário</label>
                                    <em>caso seja necessário</em>
                                </div>
                            </div>
                        </div>
                        <span class="line"></span>
                        <div class="form_container horizontal row">
                            <div class="form_item horizontal termos col-md-12">
                                <div class="form-block add-block" id="form_add">
                                    <span class="add" title="Add">
                                        Adicionar Beneficiário
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <span class="line"></span>
                    <h3>Final do formulário texto + botões</h3>
                    <div class="form_container horizontal row padding">
                        <div class="col-md-6">
                            <p>O comprovativo foi enviado por email à Entidade, ao Beneficiário Efetivo e ao Declarante. Caso pretenda uma cópia, por favor imprima ou descarregue o PDF para ficar com o comprovativo.</p>
                        </div>
                        <div class="col-md-6 btns_final">
                            <span class="add" title="Add">
                                Imprimir documento
                                <i class="fa fa-print" aria-hidden="true"></i>
                            </span>
                            <span class="add pdf" title="Add">
                                Descarregar PDF
                                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>


                    <div class="col-sm-12 bottom separator">
                        <div class="links">
                            <h2>Informação útil</h2>
                            <a href="#" class="nav-link">
                                <span>O Beneficiário efetivo</span>
                            </a>
                            <a href="#" class="nav-link">
                                <span>O que é o beneficiário efetivo</span>
                            </a>
                            <a href="#" class="nav-link">
                                <span>Como registar o beneficiário efetivo da empresa</span>
                            </a>
                            <a href="#" class="nav-link">
                                <span>Onde registar o beneficiário efetivo da empresa</span>
                            </a>
                            <a href="#" class="nav-link">
                                <span>Qual o preço para registar o beneficiário efetivo da empresa</span>
                            </a>
                            <a href="#" class="nav-link other">
                                <span>outras questões</span>
                            </a>
                        </div>
                    </div>


                    <!--Butão prev-->
                    <button class="buttonExecutaServico prevstep" href="#">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <span>Voltar</span>
                    </button>

                    <!--Butão next-->
                    <button class="buttonExecutaServico nextstep" href="#">
                        <span>Continuar</span>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>

                    <div class="col-sm-12 bottom separator">
                        <em>Actualizado a 27 de Novembro de 2016</em>
                        <a class="small-link">Precisa de Ajuda para encontrer o que procura?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="justica-footer-small separate_footer" id="footer" data-control="footer">

    <div class="footer">
        <div class="footer_bottom">
            <div class="footer_bottom_container container">
                <div class="helpers">
                    <img src="../images/logojust.png" alt="logotipo Organismo">
                    <span class="txt">Este site faz parte do Justiça.gov.pt</span>
                </div>
                <div class="pt_logo">
                    <img src="../images/Layer 74.png" alt="logotipo Justiça mais Próxima">
                    <img src="../images/logotipo.png" alt="logotipo Justiça República Portuguesa">
                    <!--<img src="../images/dummy/ministerio.png" alt="logotipo ministério">-->
                </div>
            </div>
        </div>
    </div>

</footer>

<script src="../scripts/core/controls/footer.js"></script>





</body>

</html>