.justica-body_servico {

    .info{
        padding:20px 0px 0px 15px;
        
    p {
        display:inline-block;
        font-size:$size16;
        margin-bottom:30px;
        color: $gray80;
        padding-left:17px;
        
    }
    }
}
